utils/*.pkl
.venv/
*.pyc
__pycache__/
TIMES-NZ-NZEECS\ParScen_BackUp
TIMES-NZ-NZEECS\SuppXLS\ParScenFiles
TIMES-NZ-NZEECS/AppData/ExResLayout.json
TIMES-NZ-NZEECS/AppData/MasterFormFormSettings.json
TIMES-NZ-NZEECS/AppData/ResultsFormSettings.json
TIMES-NZ-NZEECS/AppData/Settings.json
raw_tables.pkl