---
# This file defines pre-commit and pre-push hooks.
# Includes a virtual environment check and basic
# tooling (black, isort, pylint, pip-audit, yamllint).
repos:
  - repo: local
    hooks:
      - id: black
        name: black via Poetry
        entry: bash -c 'cd PREPARE-TIMES-NZ && poetry run black src tests scripts'
        language: system
        pass_filenames: false

      - id: isort
        name: isort via Poetry
        entry: bash -c 'cd PREPARE-TIMES-NZ && poetry run isort src tests scripts --profile black'
        language: system
        pass_filenames: false

      - id: pylint
        name: pylint via Poetry
        entry: bash -c 'cd PREPARE-TIMES-NZ && poetry run pylint src/prepare_times_nz scripts'
        language: system
        pass_filenames: false

      - id: yamllint
        name: yamllint via Poetry
        entry: bash -c 'cd PREPARE-TIMES-NZ && poetry run yamllint .'
        language: system
        pass_filenames: false
