# 

WorkBookName = "SysSettingsTEST"

###############################################################################
# TimePeriods
###############################################################################



# Set Base Year - this will be used throughout the model
[StartYear]
StartYear = [2023]
Description = "The model base year. Used by several scripts for downstream processing."


[ActivePDef]
# The current system here uses milestone year inputs from coded_assumptions/settings/milestone_years.csv 
# THis file can host as many milestone years as we want.
# The ActivePDef, as set below, will select the relevant milestone years for use in this model
# This means we are flexible on period definitions in pre-processing, but will only ever send one to the Veda files
Description = "Model Period Definition. Will be used to select period definitions"
ActivePDef = ["5Year_increments"]

[TimePeriods]
TagName = "TimePeriods"
Description = "These time periods are calculated based on the current ActivePDef and milestone year inputs in milestone_years.csv. Only the active definition will be used."
DataLocation = "data_intermediate/stage_4_veda_format/sys_settings/active_periods.csv"



###############################################################################
# TIMESLICES 

# significant overexplaining of timeslices below. 

# TIMES understands Season, Weekly, and DayNite variables of TimeSlice. 
# Each can be added to the model. TIMES will then combine all TimeSlices together. 

# So, in the case below, it will automatically create SUM-WK-D, FAL-WK-D, and all other combinations. 
# With three seasons, two week types, and three DayNite variables, we get a combined 24 (4*2*3) slices. 

# The order of the categories matter, but are fixed. TIMES will be automatically consider "parent timeslices" in several equations. 
# (eg Season is parent to Weekly) 
# The order of the variables WITHIN the categories also matter. TIMES can consider subsequent/previous timeslices in several equations also. 
# (eg Spring comes after winter)

# The Season/Weekly/DayNite names are set within TIMES. However, the names of the internal variables (eg D/N/P) can be anything you want. 
# There can be any number of categories within a timeslice category - the only limit is computational performance. 

# We can assign meaning to them through other variables in the model structure: 

#  - - - the YRFR (year fraction) variables (ie what percentage of the year do these represent) 
#  - - - the COM_FR (commodity fraction) variables (ie what percentage of a commodity's demand falls within this timeslice)
#  - - - and a few others 


# Finally, it is also possible to have an asymmetric timeslice structure (eg more children slices in one parent slice)
# but this method will not be explained here. 

###############################################################################
[TimeSlices]

SheetName = "TimeSlices"
Description = "Timeslice categories. Changing these will require changes to other settings input files and load curve methods."
Season = ["SUM-", "FAL-", "WIN-", "SPR-"]
Weekly = ["WK-", "WE-"]
DayNite = ["D", "N", "P"]


###############################################################################
# BOOKREGION NAMES

#This setting simply links the baseyear file booknames to regions. 

# Base year booknames must follow the following format: 

# VT_[BOOKNAME]_[SECTORNAME]_[VERSIONNUMBER].xlsx 

# A common (but not compulsory) convention is to make a new workbook per region. We won't be doing that, so the below maps a single BookName to both Regions

# This means our booknames for base year files will be VT_TIMESNZ_[SECTORNAME].xlsx

###############################################################################

[BookRegions_Map]
Description = "Map books to regions. In the current version, all region information is contained within a single book."
BookName = ["TIMESNZ"]
Region = ["NI", "SI"]


###############################################################################
# Defaults
###############################################################################

[Currencies]
Description = "Default currency unit."
Currency = "MioNZDollar"


###############################################################################
# YearFractions 
###############################################################################

[YearFractions]
SheetName = "YearFractions"
TagName = "TFM_INS"
Description = "Year fractions as calculated based on the number of hours in each slice. Currently calculated in stage 2 load curve processing."
# This should be processed based on hour definitions and recreated in data_intermediate. For now it's a hardcoded assumption
DataLocation = "data_intermediate/stage_2_baseyear_data/settings/load_curves/yrfr.csv"


###############################################################################
# Import Settings
###############################################################################

# These are Veda control options.

[ImportSettings]

SheetName = "ImportSettings"
TagName = "ImpSettings"


option = [
  "Check #DIV/0 and #REF errors in Templates",
  "Create Dummy Imports for Energy and Material Commodities",
  "Create Dummy Imports for Demands",
  "Generate Vintage Bounds",
  "chkDoTAGsQC",
  "DumVarforUC"
]
value = [1, 1, 1, 0, 1, 0]

