# Base year electricity sector settings for TIMES-NZ

WorkBookName = "VT_TIMESNZ_ELC"

###############################################################################
# Sector Fuels 
###############################################################################

[ElectricityFuelCommodityDefinitions]
Description = "Defines commodities that can be used for electricity generation (eg ELCNGA)"
SheetName = "Sector_Fuels_ELC"
TagName = "FI_Comm"
DataLocation = "data_intermediate/stage_4_veda_format/base_year_elc/elc_input_commodity_definitions.csv"

[ElectricityFuelProcessDefinitions]
Description = "Defines the processes that can convert other TIMES Commodities into these fuels (eg NGA -> ELCNGA)"
# Note that these are effectively dummy processes for modelling, and so should not contain technical parameters. 
# The processes are defined with 'PRE' settings (meaning 'miscellaneous') 
SheetName = "Sector_Fuels_ELC"
TagName = "FI_Process"
DataLocation = "data_intermediate/stage_4_veda_format/base_year_elc/elc_dummy_fuel_process_definitions.csv"

[ElectricityFuelProcessParameters]
Description = "Defines technical parameters for dummy electricity fuel processes (barely used)"
# NOTE: it is possible to add a VAROM to these processes to represent fuel delivery costs.
#  However, these are now set to each electricity generating process separately 
# (some plants have higher delivery costs than others)
# by setting VAR_FLO costs on the process itself - this is the approach we have used, given the MBIE data on delivery costs.
SheetName = "Sector_Fuels_ELC"
TagName = "FI_T"
DataLocation = "data_intermediate/stage_4_veda_format/base_year_elc/elc_dummy_fuel_process_parameters.csv"

###############################################################################
# Existing Technologies
###############################################################################


[JustDefiningElectricity]
Description = "Defines ELC and ELCCO2 (should these just be added to [ElectricityCommodityDefinitions]?)"
SheetName = "Existing Technologies"
TagName = "FI_Comm"
# We will just put the relevant data in here for now. Copies specs from TIMES 2.0.
# Alternatively could put a csv in data_raw and read that in to match the original. Not sure what's best. 
[JustDefiningElectricity.Data]

Csets =    ["NRG", "ENV"]
CommName = ["ELC", "ELCCO2"]
Unit =     ["PJ",  "kt"]
LimType =  ["FX",  ""]
CTSLvl =   ["DAYNITE",  "ANNUAL"]
PeakTS =   ["",  ""]
Ctype =    ["ELC",  ""]


[ElectricityProcessDefinitions]
Description = "Defines all existing technologies capable of generating electricity"
SheetName = "Existing Technologies"
TagName = "FI_Process"
DataLocation = "data_intermediate/stage_4_veda_format/base_year_elc/existing_tech_process_definitions.csv"


[ElectricityProcessParameters]
Description = "Technical parameters for existing electricity generation technologies"
SheetName = "Existing Technologies"
TagName = "FI_T"
DataLocation = "data_intermediate/stage_4_veda_format/base_year_elc/existing_tech_parameters.csv"


[ElectricityProcessAgeDistributions]
Description = "Adds age distributions for each plant or plant type (either NCAP_PASTI when lifetime is known, or PRC_RESID to represent a capacity stock of mixed lifetimes otherwise)"
SheetName = "Existing Technologies"
TagName = "FI_T"
# Some floating point errors creeping through into the generated data - need to check this.
DataLocation = "data_intermediate/stage_4_veda_format/base_year_elc/existing_tech_capacity.csv"

###############################################################################
# Distribution
# Note: this sheet used to be called "Demand and Distribution". 
# It contained a crude representation of own use which had been disabled from TIMES 2.0.
# Since we use net generation this own use representation is not actually needed, so now the sheet is just called "Distribution".
###############################################################################


[DistributionProcessDefinitions]
Description = "Defines all processes involved in distribution (eg Processes that convert ELCHV to ELCMV)"
SheetName = "Distribution"
TagName = "FI_Process"
DataLocation = "data_intermediate/stage_4_veda_format/base_year_elc/distribution_processes.csv"

[DitributionCommodityDefinitions]
Description = "Defines electricity distribution subprocessses (eg ELCHV, ELCMV, ELCDD)"
SheetName = "Distribution"  
TagName = "FI_Comm"
DataLocation = "data_intermediate/stage_4_veda_format/base_year_elc/distribution_commodities.csv"


[DistributionProcessParameters]
Description = "Sets technical parameters for distribution processes (eg losses, capacity, etc)" 
SheetName = "Distribution"  
TagName = "FI_T"
DataLocation = "data_intermediate/stage_4_veda_format/base_year_elc/distribution_parameters.csv"

###############################################################################
# Emission Factors 

# This sheet applies emission factors to each electricity commodity. 
# There is only one table needed and we can just define these assumptions here, as these are currently very simple.
# In the future we might want to add more detail/sophistication, in which case this should be scripted instead.

# The emissions factors are applied to the ELC commodity, and then the ELCCO2 commodity is defined as a function of ELC.

# EFS are from https://environment.govt.nz/publications/measuring-emissions-a-guide-for-organisations-2023-emission-factors-summary/

# Possible improvements: 

#1: convert these all to co2e (this would be preferable) - would need to get CH4 and N2O factors, and convert via AR5
#2: add geothermal EFs per field, and allow these to decrease over time if we want to integrate better future carbon capture.

# Either of these approaches would require some scripting and input data, rather than hardcoding numbers in this config file.

###############################################################################

# Source: MEG 

[ElectricityEmissionFactors]
Description = "Defines emission factors for electricity generation. Sources and references listed in config file. Excludes CH4 and N2O."
SheetName = "Emission Factors"  
TagName = "COMEMI"


[ElectricityEmissionFactors.Data]
# THESE ARE ALL CO2, NOT C02e! (exclude CH4 and N20)
CommName = "ELCCO2" # all the following pairs will make a column name and a value, so this defines the attribute.


# all values are kg/GJ, which are equal to kt/PJ (our model units)
ELCCOA = 92.20 # GCV basis - need to be careful that all our PJs are in gross terms (so use the gross balances)
# Note: Coal use for electricity generation from: 
# https://environment.govt.nz/assets/publications/climate-change/New-Zealands-Greenhouse-Gas-Inventory-1990-2021-Annexes.pdf
# Table A4.2 page 142
# This assumes all sub-bit coal. We don't distinguish between sub-bit and bit coal in the model, so this is a reasonable assumption.

# Natural gas
ELCNGA = 53.61
# Diesel (we just call oil but it's all diesel) (assumes 10ppt sulphur)
ELCOIL = 69.45 

# all co2 is biogenic and doesn't count, so these become zero. We may need to update this. 
ELCBIG = 0
ELCWOD = 0

# Geothermal - CURRENTLY ONLY ONE GENERAL EF 
# This figure is from TIMES 2.0. It needs updating. It won't be CO2, either - fugitive methane? 
ELCGEO = 23.89
