---
name: CI and Deploy Pipeline

on:
  push:
    branches-ignore:
      - gh-pages

permissions:
  contents: write

env:
  PYTHON_VERSION: "3.12"

jobs:
  lint:
    name: Run Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements-dev.txt

      - name: Run linters
        run: |
          echo "Temporarily partially disabled."
          # black --check --diff PREPARE-TIMES-NZ/
          # isort --profile black --check-only PREPARE-TIMES-NZ/
          # pylint --disable=R0801 $(git ls-files '*.py')
          yamllint PREPARE-TIMES-NZ/

  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install package and other dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest coverage
          pip install -r requirements-dev.txt

      - name: Run tests and generate coverage
        run: |
          coverage run -m pytest
          coverage html

      - name: List htmlcov (debug)
        run: ls -R htmlcov

      - name: Deploy coverage report to GitHub Pages
        if: success()
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./htmlcov
          publish_branch: gh-pages
          force_orphan: true
          allow_empty_commit: true

      - name: Generate coverage report in console
        run: coverage report

  audit:
    name: Run Security Audit
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          pip install -r requirements-dev.txt

      - name: Run pip-audit
        run: pip-audit

  deploy:
    name: Sample Deploy Step
    runs-on: ubuntu-latest
    needs: [test, audit]
    if: github.ref_name != 'main'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deployment to DEV
        run: echo "Deploying from '${{ github.ref_name }}' branch"
